@{
    ViewBag.Title = "CRUD Sample";
}

<h2>CRUD Demo</h2>

<div class="container-fluid">
	<div class="row" ng-controller="apiCtrl">
		<div class="col-md-6">
			<div class="row">
				<div ng-repeat="person in People | filter: {ParentId: 0}" ng-include="'person'"></div>
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script type="text/ng-template" id="person">
		<div class="col-md-8 col-xs-offset-1">
			<!-- Split results into two columns, along with row below -->
			<div class="row well">
				<div class="col-md-10">{{person.Name}}</div>
				<div class="col-md-2 right">
					<button class="btn btn-xs" ng-click="person.addPressed = true"><i class="fa fa-plus"></i></button>
					<button class="btn btn-xs" ng-click="remove(person)"><i class="fa fa-minus"></i></button>
				</div>
				<div ng-show="person.addPressed" ng-include="'addPerson'" ng-init="parent=person"></div>
				<div ng-include="'children'" ng-repeat="child in People | filter: {ParentId: person.Id}"></div>
			</div>
		</div>
	</script>

	<script type="text/ng-template" id="children">
		<div class="col-md-offset-1 col-md-9">
			{{child.Name}}
		</div>
		<div class="col-md-2 right">
			<button class="btn btn-xs" ng-click="child.addPressed = true"><i class="fa fa-plus"></i></button>
			<button class="btn btn-xs" ng-click="remove(child)"><i class="fa fa-minus"></i></button>
		</div>
		<div ng-show="child.addPressed" ng-include="'addPerson'" ng-init="parent=child"></div>
		<div ng-include="'children'" ng-repeat="child in People | filter: {ParentId: child.Id}"></div>
	</script>


	<script type="text/ng-template" id="addPerson">
		<div class="col-md-9">
			<input type="text" value="" ng-model="newPerson.Name" />
			<input type="hidden" ng-model="newPerson.ParentId" ng-init="newPerson.ParentId=parent.Id" />
		</div>
		<div class="col-md-3">
			<button class="btn btn-xs" ng-click="addChild(newPerson)">Save</button>
		</div>
	</script>


	<script type="text/javascript">
		var apiApp = angular.module('apiApp', []);

		apiApp.controller('apiCtrl', function($scope, $http) {
			$scope.GetPeople = function() {
				$http.get("/api/Sample")
					.success(function(d) {
						$scope.People = d;
					});
			};

			function Evaluate(obj) {
				if (obj.Successful) {
					$scope.GetPeople();
				} else {
					alert("Error occurred.");
				}
			}

			$scope.remove = function(person) {
				$http.delete("/api/Sample/" + person.Id).success(Evaluate);
			};

			$scope.addChild = function(child) {
				$http.post("/api/Sample", { Name: child.Name, ParentId: child.ParentId }).success(Evaluate);
			};

			$scope.GetPeople();
		});

		angular.bootstrap(document, ['apiApp']);
	</script>
}