<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mvc4Futures" version="4.0.20710.0" targetFramework="net46" userInstalled="true" />
  <package id="MvcContrib.Mvc5" version="5.0.0.0" targetFramework="net46" userInstalled="true" />
  <package id="ServiceStack.Client" version="4.0.40" targetFramework="net45" userInstalled="true" />
  <package id="ServiceStack.Interfaces" version="4.0.40" targetFramework="net45" userInstalled="true" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net45" userInstalled="true" />
</packages>