@using FdaService.Models.Drug.Event
@using FaNgMvcBs2.ViewModels
@model DrugEventViewModel

@{
    ViewBag.Title = "Home Page";


    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        @Html.DropDownListFor(model => model.SearchCriteriaSelected, new SelectList(Model.SearchCriteria, "FullName", "ShortName"))
        @Html.EditorFor(model => model.SearchInfo)
        <input type="submit" value="Search" />

        if (Model.RootObject != null)
        {
            foreach (var result in Model.RootObject.results)
            {
            <div>@result.companynumb</div>
            }
        }
    }


    }




