@using FdaService.Models.Drug.Event
@model FdaService.Models.Drug.Event.RootObject

@{
    ViewBag.Title = "Home Page";

    foreach(var result in Model.results)
    {
        <div>@result.time</div>
    }
}




